body {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: xxx-large;
  font-color: black;
  background-color: #494949;
}

div {
  font-family: "Gill Sans", sans-serif;
  height: 72px;
  width: 72px;
  padding: 10px;
  border: 10px solid black;
  margin: 0;
}
